*{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
}

.flex-container-column{
  display: flex;
  flex-direction: column;

  /* properti pendukung */
  max-width: 600px;
  text-align: right;
  margin: 0 auto 0 auto;
}

.flex-container-row{
  display: flex;
}

.display{
  background-color: #333333;
  color: white;
  padding: 10px 30px;
  font-size: larger;
}

.button{
  font-size: 2em;
  padding: 40px;
  text-align: center;
  border: 1px solid black;
  flex-basis: 25%;
  cursor: pointer;
}

.numb{
  background: -webkit-linear-gradient(top, #d2d2d2, #dddddd);
}

.numb:hover{
  background: -webkit-linear-gradient(top, #adadad, #bebebe);
}

.operator, .equals, .negative{
  background-color: orange;
}

.operator:hover, .equals:hover, .negative:hover{
  background-color: rgb(182, 120, 4);
}

.equals{
  flex-basis: 50%;
}

.history{
  max-width: 600px;
  margin: 10px auto 0 auto;
  overflow: auto;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td{
  text-align: center;
  padding: 16px;
}

th {
  background-color: orange;
  color: white;
}

tr:nth-child(even) {
  background-color: #d2d2d2;
}

@media screen and (max-width: 520px){
  .button{
    padding: 20px;
  }

  .history{
    width: 100%;
  }
}

@media screen and (max-width: 390px){
  .button{
    padding: 10px;
  }

  th, td{
    padding: 5px;
  }
}